* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}
div {
  
 
}

header h1  {
  font-family: 'Source Code Pro', monospace;
  color: white;
}

body {
  background-color: black;
  color: white;
  font-family: 'Source Code Pro', monospace;
  font-weight:400;
}
a {
  color: white;
  text-decoration: none;
}
a:hover  {
  color: hotpink;
}
.footer {
  width:450px;
  text-align:center;
  display:block;
  margin:15px auto 30px auto;
  font-size:0.8em;
  color:#fff;
  a {
    font-weight:500;
    text-decoration:none;
    color:#fff;
  }
}
.quote-box {
  border-radius:3px;
  position:relative;
  margin:8% auto auto auto;
  width:450px;
  padding:40px 50px;
  display:table;
  background-color: black;
  .quote-text {
    i{
      font-size:1.0em;
      margin-right: 0.4em;
    }
    text-align:center;
    width:450px;
    height:auto;
    clear:both;
    font-weight:500;
    font-size:1.75em;
  }
  .quote-author {
    width: 450px;
    height: auto;
    clear: both;
    padding-top: 20px;
    font-size: 1em; 
    text-align: right;
    float: right;

  }
  
  .buttons {
    width:450px;
    margin:;
    display: block;

  }
    .button{
      height:38px;
      border:none;
      border-radius: none;
      color:;
      background-color:black;
      outline:none;
      font-size:0.85em;
      padding: 8px 18px 6px 18px;
      margin-top:30px;
      float: right;
      cursor:pointer;
      &:hover {
        opacity:0.9;
      }
      
      }
      &#tweet-quote {
        float:right;
        padding:0px;
        padding-top:8px;
        text-align:center;
        font-size:1.2em;
        margin-right:5px;
        height:30px;
        width:40px;
        
      }
      #new-quote {
        float:right;
        padding:0px;
        padding-top:8px;
        text-align:right;
        font-size:1.2em;
        margin-right:5px;
        height:30px;
        width:40px;
        outline: 0.2px;
        color: black;

        }

    }
  }
  
}